* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 50px;
    margin: 0 30px;
}

header {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}

header:first-child > div {
    display: flex;
    align-items: center;
}

select, button {
    height: 40px;
    width: 150px;
    font-size: 30px;
}

main {
    background-color: #7fffd4;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.square {

    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.square.blue {
    background-color: #6495ed;
}

.square.red {
    background-color: #dc143c;
}

#container.easy > .square {
    width: calc(100% / 10);
    height: calc(100% / 10);
}

#container.normal > .square {
    width: calc(100% / 9);
    height: calc(100% / 9);
}

#container.hard > .square {
    width: calc(100% / 7);
    height: calc(100% / 7);
}

.notclick {
    pointer-events: none;
}

.message {
    text-align: center;
    font-size: 30px;
}